{% extends "layout.html" %}
{% block content %}
    <h1>Say something</h1>
    <form method="post" action="{{ url_for('signup') }}">
        <!-- <p><label>Username:</label> <input type="text" name="username" value="{{username}}" ></p> -->
        <p><label>Query:</label> <input type="text" name="query" value="{{query}}" required></p>
        <!-- <textarea  type="text" name="query" value="{{query}}" required></textarea></p> -->
        <p><button type="submit">Send</button></p>
    </form>
    <pre>
{{ message }}
    </pre>
    <p/>
    <a href="{{ url_for('home') }}">Say something else</a>

{% endblock %}
